.button-container{
    display: flex;
    justify-content:center;
    gap: 50px;
    margin-top: 20px;
}

#signUpForm{
    display: flex;
    flex-direction: column;
    gap: 5px;

    button{
        max-width: 80%;
    }
}
