/* General form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 100%;
    justify-content: center;
    text-align:start
}

form label {
    display: flex;
    align-items: center;
}

form .btn {
    display: flex;
    max-width: 100%;
}

form input {
    max-width: 300px;
}

.form-group {
    margin-bottom: 1rem;
}

/* Error message styling */
.form-errors {
    color: #d9534f;
}

/* Custom form styling */
.custom-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f4f4f4;
}

/* Button styling */
.btn-submit {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.btn-submit:hover {
    background-color: #0056b3; 
    border-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* Custom cancel button styling */
.btn-cancel {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #333;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.btn-cancel:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

