{% extends "base.html" %}

{% block title %}DriveTrainer - Skapa väggmärke {% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">

    <!-- Security token -->
        {% csrf_token %}

    <!-- Using the formset -->
        {{ form.as_p }}

        <input class="btn btn-success mt-3" type="submit" value="Skapa">
        {% if PAGENUMBER is None %}
            <a class="btn btn-primary mt-3" href="/road_signs">Avbryt</a>
        {% else %}
            <a class="btn btn-primary mt-3" href="/road_signs?page={{PAGENUMBER}}">Avbryt</a>
        {% endif %}
    </form>
{% endblock %}