{% extends "base.html" %}

{% block title %}DriveTrainer - Skapa trafikregel {% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" class="custom-form">
        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}

        <a class="btn-submit"  type="submit" value="Submit" aria-label="Spara">Spara</a>
        {% if PAGENUMBER is None %}
            <a class="btn-cancel" href="/trafic_rules" aria-label="Avbryt">Avbryt</a>
        {% else %}
            <a class="btn-cancel" href="/trafic_rules?page={{ PAGENUMBER }}" aria-label="Avbryt">Avbryt</a>
        {% endif %}
    </form>
{% endblock %}
