{% extends "base.html" %}

{% block title %}DriveTrainer - Skapa vägmärke {% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" class="custom-form">

    <!-- Security token -->
        {% csrf_token %}

    <!-- Using the formset -->
        {{ form.as_p }}

        <a class="btn-submit" type="submit" aria-label="Skapa">Skapa</a>
        {% if PAGENUMBER is None %}
            <a class="btn-cancel" href="/road_signs" aria-label="Avbryt">Avbryt</a>
        {% else %}
            <a class="btn-cancel" aria-label="Avbryt" href="/road_signs?page={{PAGENUMBER}}">Avbryt</a>
        {% endif %}
    </form>
{% endblock %}