{% extends "base.html" %}

{% block title %}DriveTrainer - Ta bort trafikregel {% endblock %}
{% block content %}
    <form class="custom-form" method="POST">
        {% csrf_token %}
        Är du säker att du vill ta bort trafikregel ?
        <a class="btn-submit" type="submit" value="Ja" aria-label="Ja">Ja</a>
        {% if PAGENUMBER is None %}
            <a class="btn-cancel" type="button" href="/trafic_rules" aria-label="Avbryt">Avbryt </a>
        {% else %}
            <a class="btn-cancel" type="button" href="/trafic_rules?page={{PAGENUMBER}}" aria-label="Avbryt">Avbryt</a>
        {% endif %}
    </form>
{% endblock %}