{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<!--<p><a href="{% url 'password_change' %}">Password Change</a></p>-->
    {% for question in questions %}
        <a href="question/{{question.id}}">{{question.id}}</a>
    {% endfor %}
{% else %}
<!--<p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<p><a href="{% url 'login' %}">Log In</a></p>-->
{% endif %}
{% endblock %}