{% extends 'base.html' %}

{% block title %}
  DriveTrainer - Väggmärken
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Add Road Sign</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <a href="#" data-toggle="modal" data-target="#addModal">Add</a>

    {% for road_sign in page %}
      <div class="container">
        <h2>{{ road_sign.title }}</h2>
        <img id="road_signs_pictures" class="img-fluid" src="{{ road_sign.image_link }}" />
        <p>{{  road_sign.description  }}</p>
      </div>
    {% endfor %}
  {% endif %}
    <!-- Pagination Links -->
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}" class="btn btn-secondary mx-2">Previous</a>
  {% endif %}

  <a href="?page=1" class="btn btn-secondary">First</a>

  {% for num in page.paginator.page_range %}
    {% if num == page.number %}
      <span>{{ num }}</span>
    {% else %}
      <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
    {% endif %}
  {% endfor %}

  <a href="?page={{ page.paginator.num_pages }}" class="btn btn-secondary mx-2">Last</a>

  {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" class="btn btn-secondary mx-2">Next</a>
  {% endif %}
  <script>
    $(document).ready(function () {
      $('#addForm').on('submit', function (e) {
        e.preventDefault(); // Prevent normal form submission
        
        // AJAX POST request to submit the form data
        $.ajax({
          type: 'POST',
          url: '{% url "road_signs_page" %}',
          data: $('#addForm').serialize(),
          success: function () {
            // Close the modal after successful form submission
            $('#addModal').modal('hide');
            location.reload(); // This will reload the page
          },
          error: function () {
            // Handle errors if any
            alert('An error occurred. Please try again.');
          }
        });
      });
    });
  </script>
{% endblock %}
