{% extends 'base.html' %}

{% block title %}
  DriveTrainer - Väggmärken
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if request.user.is_staff %}
      <a href="{% url 'road_signs/create' %}">Add</a>
    {% endif %}

    {% for road_sign in page %}
      <div class="container">
        <h2>{{ road_sign.title }}</h2>
        <img id="road_signs_pictures" class="img-fluid" src="{{ road_sign.image_link }}" />
        <p>{{  road_sign.description  }}</p>
        <p>{{road_sign.id}}</p>
        {% if request.user.is_staff %}
          <a href="{% url 'roadsign_delete' id=road_sign.id %}">Ta bort</a>
          <a href="{% url 'update_roadSign_view' id=road_sign.id %}">Update</a>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
    <!-- Pagination Links -->
  {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}" class="btn btn-secondary mx-2">Previous</a>
  {% endif %}

  <a href="?page=1" class="btn btn-secondary">First</a>

  {% for num in page.paginator.page_range %}
    {% if num == page.number %}
      <span>{{ num }}</span>
    {% else %}
      <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
    {% endif %}
  {% endfor %}

  <a href="?page={{ page.paginator.num_pages }}" class="btn btn-secondary mx-2">Last</a>

  {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" class="btn btn-secondary mx-2">Next</a>
  {% endif %}
{% endblock %}
