{% extends 'base.html' %}
{% block title %}
  DriveTrainer - Trafikregler sida
{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    {% if request.user.is_staff %}

      <a href="{% url 'trafic_rule/create' %}">Add</a>
    {% endif %}
    {% for rule in page %}
      <div class="container">
        <h2>{{ rule.title }}</h2>
        <p>{{ rule.sub_title }}</p>
        <img class="img-fluid" src="{{ rule.image_link }}" />
        <p>{{ rule.sub_text }}</p>
        {% if request.user.is_staff %}
          <a href="{% url 'update_traficRule_view' id=rule.id %}">Update</a>

          <a href="{% url 'traficrule_delete' id=rule.id %}">Ta bort</a>
        {% endif %}

      </div>
    {% endfor %}
  {% endif %}

  <!-- Pagination Links -->
  {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}" class="btn btn-secondary mx-2">Previous</a>
  {% endif %}

  <a href="?page=1" class="btn btn-secondary">First</a>

  {% for num in page.paginator.page_range %}
    {% if num == page.number %}
      <span>{{ num }}</span>
    {% else %}
      <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
    {% endif %}
  {% endfor %}

  <a href="?page={{ page.paginator.num_pages }}" class="btn btn-secondary mx-2">Last</a>

  {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" class="btn btn-secondary mx-2">Next</a>
  {% endif %}
{% endblock %}
