{% extends "base.html" %}

{% block title %}DriveTrainer - Uppdatera trafikregel {% endblock %}
{% block content %}
    <div class="main">
    <!-- Create a Form -->
        <form method="POST">
        <!-- Security token by Django -->
            {% csrf_token %}

            {{ form.as_p }}
            <input class="btn btn-success mt-3" type="submit" value="Uppdatera">

            {% if PAGENUMBER is None %}
                <a class="btn btn-danger mt-3" href="/trafic_rules" aria-label="Avbryt">Avbryt</a>
            {% else %}
                <a class="btn btn-danger mt-3" href="/trafic_rules?page={{PAGENUMBER}}" aria-label="Avbryt">Avbryt</a>
            {% endif %}
        </form>

    </div>
{% endblock %}