{% extends "base.html" %}

{% block title %}DriveTrainer - Uppdatera Väggmärke sida {% endblock %}
{% block content %}
<div class="main">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
 
        <!-- form as paragraph -->
        {{ form.as_p }}
 
        <input type="submit" value="Update">
        {% if PAGENUMBER is None %}
            <a href="/road_signs">Cancel </a>
        {% else %}
            <a href="/road_signs?page={{PAGENUMBER}}">Cancel </a>
        {% endif %}
    </form>
 
</div>
{% endblock %}